# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/msi2xml/FileContentIndex
/.vs
/getversion/Debug_Unicode
/getversion/Release_Unicode
/msi2xml/Debug_Unicode
/msi2xml/Release_Unicode
/xml2msi/Debug_Unicode
/xml2msi/Release_Unicode
*.msi
